{
  "gw0": {
    "host": "127.0.0.1",
    "port": 6379
  },
  "gw1": {
    "host": "127.0.0.1",
    "port": 6380
  },
  "bm0": {
    "host": "127.0.0.1",
    "port": 6379
  },
  "bm1": {
    "host": "127.0.0.1",
    "port": 6380
  }
}
